# OS Things
.DS_Store
.thumbnails

# Private Things
.coverage
.coveralls.yml

# Compiled Things
*.pyc
*.bak
*.pickle

# Data
*.hdf5
*.png
*.tif
*.tiff

# Temp Files
*.swp
*.swo

# Docs
*.html
docs/build/
