version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - cache-{{ checksum "requirements.txt" }}
            - cache-

      - run:
          name: install dependencies
          command: |
            sudo pip install -r requirements.txt

      - save_cache:
          paths:
            - ~/.local
            - ~/.cache
          key: cache-{{ checksum "requirements.txt" }}

      - run:
          name: run tests
          command: |
            nose2 .

      - store_artifacts:
          path: test-reports
          destination: test-reports

